.git
.github
.devcontainer
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache
.coverage
htmlcov
.mypy_cache
README.md
docs/
tests/
*.md
.env
.env.local
.env.*.local
node_modules
npm-debug.log*
.DS_Store
Thumbs.db